<table class="table table-cv table-sm table-borderless table-responsive table-cv-map">
  {% comment %} Render fields dynamically and skip empty values {% endcomment %}
  {% for item in data[1] %}
    {% assign key = item[0] %}
    {% assign value = item[1] %}

    {% if value == blank %}
      {% continue %}
    {% endif %}

    <tr>
      <td class="p-1 pr-2 font-weight-bold">
        <b>{{ key | capitalize }}</b>
      </td>

      <td class="p-1 pl-2 font-weight-light">
        {% case key %}
          {% when 'avatar image' %}
            <img src="{{ value }}" alt="Profile Photo" class="img-fluid rounded" style="max-width: 10rem;">

          {% when 'location' %}
            {{ value.address }}, 
            {{ value.city }}{% if value.region %}, {{ value.region }}{% endif %}
            {{ value.postalCode }},
            {{ value.countryCode }}

          {% when 'profiles' %}
            {% for profile in value %}
              <div class="mb-1">
                <a href="{{ profile.url }}" target="_blank" rel="noopener noreferrer" class="text-decoration-none">
                  <i class="fab fa-{{ profile.network | downcase }} mr-1"></i>
                  {{ profile.network }}: {{ profile.username }}
                </a>
              </div>
            {% endfor %}

          {% when 'website' %}
            <a href="{{ value }}" target="_blank" rel="noopener noreferrer">{{ value }}</a>

          {% when 'email' %}
            <a href="mailto:{{ value }}">{{ value }}</a>

          {% when 'phone' %}
            <a href="tel:{{ value }}">{{ value }}</a>

          {% else %}
            {{ value }}
        {% endcase %}
      </td>
    </tr>
  {% endfor %}
</table>
